.input {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.input:focus {
  outline: 1px solid var(--secondary-color);
}
