* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
a,
span {
  line-height: 1.2;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
